__pycache__/algorithms.cpython-312.pyc
__pycache__/datas.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/visualization.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/work1.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/work1.cpython-312.pyc
